.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  /* flex-wrap: wrap;
  justify-content: center; */
  /* align-items: center; */
  gap: 30px;
  padding-top: 60px;
}

.good {
  display: flex;
  /* flex-basis: 100%; */
  flex-direction: column;
  width: 240px;
  text-align: center;
  border: 1px dotted rgb(197, 192, 183);
  border-radius: 10px;
  background-color: white;
}

img {
  display: block;
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 20px;
  
}

.add {
  width: 120px;
  height: 40px;
  background-color: brown;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color:aliceblue
}

.title {
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px;
  letter-spacing: 1.5;
  line-height: 20px;
}

.price {
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}